# AWS Configuration
aws_region = "eu-north-1"

# Project Configuration
project_name = "ecs-cicd-pipeline"
ecr_repository_name = "container-orchestration-repo"

# GitHub Configuration
github_repo = "https://github.com/atkaridarshan04/ecs-cicd-pipeline"
github_branch = "main"

# Container Configuration
container_port = 5173
alb_port = 80
desired_count = 2
cpu = 256
memory = 512
