# AWS Configuration
aws_region = "us-east-1"

# Project Configuration
project_name = "ecs-cicd-pipeline"
ecr_repository_name = "container-orchestration-repo"

# GitHub Configuration
github_repo = "https://github.com/your-username/your-repo"
github_branch = "main"
github_token = "your-github-personal-access-token"

# Container Configuration
container_port = 5173
alb_port = 80
desired_count = 2
cpu = 256
memory = 512
